body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background: linear-gradient(to bottom, #f02199, #b0e4fc);
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Rubik Iso", cursive;
  font-size: 55px;
}


.button {
  width: 100px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ba7201;
  color: #eceaea;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  /* font-family: "Cabin", sans-serif; */
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
}

.board-container {
  width: 95px;
  display: flex;
  flex-direction: column;
  background-color: black;
  /* padding: 2px; */
  padding: 1px 1px 2px 2px;
  /* margin: 5px; */
}

.board-row {
  display: flex;
}

.board-element {
  background-color: yellow;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
